
<body>
    <app-nav></app-nav>
    <div class="section">
        <div class="container">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <div class="article">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae obcaecati vitae aliquam impedit ex. Vel praesentium fugit optio commodi rem, qui, et animi quod eum amet minima velit perspiciatis laboriosam.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores recusandae quibusdam nemo reprehenderit natus, assumenda temporibus odio eveniet tempore iusto perferendis ducimus ipsam, optio deleniti magni tempora vero maiores rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, quam. </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur sit, eveniet libero est ducimus fugiat?</p>
                    
                </div>
            </div>
            <div class="image-section">
                <img src="https://images.unsplash.com/photo-1555118367-93f01e18660f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNvZmZlZSUyMGN1cHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Cup of Coffee">
            </div>
            <div class="social">
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
            <div class="image-sec">
                <img src="https://images.unsplash.com/photo-1555118367-93f01e18660f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNvZmZlZSUyMGN1cHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Cup of Coffee">
            </div>
        </div>
    </div>
    <script src="https://use.fontawesome.com/0f749e22ee.js"></script>
    
</body>
